load(
    "@rules_scala_annex//rules:scala.bzl", 
    "scala_library",
)

scala_library(
    name = "core",
    srcs = glob([
        "core/src/main/scala/**/*.scala",
    ]),    
    deps = [        
        "@org_typelevel_macro_compat//:core",
    ],
    macro = True,
    scalacopts = [      
        "-deprecation",
        "-feature",
        "-language:higherKinds",
        "-language:implicitConversions",
    ],    
    visibility = ["//visibility:public"],
)
