load(
    "@rules_scala_annex//rules:scala.bzl", 
    "scala_library",
    "scala_test",
)

_scalacopts = [
    "-deprecation",
    "-feature",
    "-language:higherKinds",
    "-language:implicitConversions",
]

scala_library(
    name = "com_github_mpilquist_simulacrum",
    srcs = glob([
        "core/src/main/scala/**/*.scala",
    ]),    
    deps = [        
        "@org_typelevel_macro_compat",
    ],
    macro = True,
    scalacopts = _scalacopts,    
    visibility = ["//visibility:public"],
)

scala_library(
    name = "test",
    srcs = glob([
        "core/src/test/scala/**/*.scala",
    ]),    
    deps = [
        "@com_github_mpilquist_simulacrum",
        "@org_scalactic_scalactic",
        "@org_scalatest_scalatest",
    ],    
    scalacopts = _scalacopts,
    plugins = [
        "@org_scalamacros_paradise//:org_scalamacros_paradise",
    ],
    visibility = ["//visibility:public"],
)
