load(
    "@rules_scala_annex//rules:scala.bzl", 
    "scala_library",
)

scala_library(
    name = "plugin",
    srcs = glob([
        "plugin/src/main/scala/**/*.scala",
    ]),
    deps = [
        "@scala_scala_compiler//jar",
        "@scala_scala_reflect//jar",
    ],
    macro = True,
    visibility = ["//visibility:public"],
)
