load(
    "@rules_scala_annex//rules:scala.bzl", 
    "scala_library",
    "scala_test",
)

# a trick to slap the XML into the root of a new resource jar
java_binary(
   name = "resources",
   create_executable = False,
   classpath_resources = [
        "plugin/src/main/scala/org/scalamacros/paradise/embedded/scalac-plugin.xml"
   ],
)

scala_library(
    name = "org_scalamacros_paradise",
    srcs = glob([
        "plugin/src/main/scala/**/*.scala",
    ]),
    resource_jars = [
        ":resources"
    ],    
    deps = [
        "@scala_scala_compiler//jar",
        "@scala_scala_reflect//jar",
    ],    
    visibility = ["//visibility:public"],
)

scala_library(
    name = "test_src",
    srcs = glob([
        "tests/src/main/scala/**/*.scala",
    ]),
    deps = [        
        "@scala_scala_compiler//jar",
        "@scala_scala_reflect//jar",
    ],
    plugins = [
        "@org_scalamacros_paradise",
    ],
    macro = True,
)

scala_test(
    name = "test",
    size = "large",
    srcs = glob([
        "tests/src/test/scala/**/*.scala",
    ], exclude = [
        "tests/src/test/scala/annotations/neg/**/*.scala",
    ]),
    deps = [
        ":test_src",        
        "@org_scalactic_scalactic",
        "@org_scalatest_scalatest",
    ],
    plugins = [
        "@org_scalamacros_paradise",
    ],
)
